<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Tasks</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            padding-bottom: 50px;
        }

        h2 {
            color: rgb(77, 73, 73);
        }

        .skillDescription {
            text-align: center;
        }

        .skillsPage {
            width: 50%;
            min-height: 100%;
            margin-bottom: 20px;
            background-color: rgb(255, 255, 255);
            margin: 20px auto;
            padding: 20px;
            box-shadow: 0 0 5px rgb(158, 143, 143);
        }

        .skillResources ul {
            padding-left: 20px;
        }

        .skillsInfo {
            flex-grow: 1;
        }

        .skillEvidence {
            display: none;
        }

        .sendButton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }

        button {
            background-color: rgb(61, 187, 39);
            color: white;
            border: none;
            cursor: pointer;
            margin-top: 10px;
            height: 30px;
            width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }

        #evidence {
            max-width: 600px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 16px;
            text-align: left;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        thead tr {
            background-color: #f4f4f4;
            border-bottom: 2px solid #ddd;
        }

        thead th {
            padding: 12px 15px;
            font-weight: bold;
            color: #333;
        }

        tbody tr {
            border-bottom: 1px solid #ddd;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tbody td {
            padding: 12px 15px;
        }

        tbody tr:hover {
            background-color: #f1f1f1;
        }

        .actions {
            text-align: center;
        }

        .approve-btn {
            background-color: #78b13f;
            color: white;
            border: none;
            padding: 6px 12px;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 5px;
        }

        .reject-btn {
            background-color: #d9534f;
            color: white;
            border: none;
            padding: 6px 12px;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <%- include('partials/username-display') %>
        <!-- Skill informazioentzako orria -->
        <div class="skillsPage">
            <h1>Skill: <%= skill.text %>
            </h1>

            <div style="display: flex; gap: 30px;">
                <!-- Skill hexagonoa -->
                <div class="svg-wrapper" data-id="<%= skill.id %>" data-custom="false">
                    <svg width="100" height="100" viewBox="0 0 100 100">
                        <polygon points="50,5 95,27.5 95,72.5 50,95 5,72.5 5,27.5" class="hexagon" />
                        <text x="50%" y="20%" text-anchor="middle" fill="black" font-size="9">
                            <% skill.text.split('\n').forEach(line=> { %>
                                <tspan x="50%" dy="1.2em" font-weight="bold">
                                    <%= line %>
                                </tspan>
                                <% }); %>
                        </text>
                        <image x="35%" y="60%" width="30" height="30" href="/icons/<%= skill.icon %>" />
                    </svg>
                </div>

                <!-- Skill bakoitzaren informazio div-a -->
                <div class="skillsInfo">
                    <h2>Skill Score: 1 point</h2>
                    <!-- Skill-aren deskripzioa -->
                    <div class="skillDescription">
                        <h2>Description</h2>
                        <p>
                            <%= skill.description %>
                        </p>
                    </div>
                    <!-- Skill-aren zereginak -->
                    <div class="skillTasks">
                        <h2>Tasks to complete</h2>
                        <% skill.tasks.forEach(function(task, index) { %>
                            <div class="task-item">
                                <input type="checkbox" id="task-<%= skill.index %>">
                                <label for="task-<%= skill.index %>">
                                    <%= task %>
                                </label>
                            </div>
                            <% }); %>
                    </div>
                    <!-- Skill-a osatua ebidentzia -->
                    <div class="skillEvidence">
                        <h2>Provide Evidence</h2>
                        <form id="provideEvidenceForm">
                            <textarea name="evidence" id="evidence" cols="83" rows="4" required="true"
                                placeholder="Enter a URL or explanation as evidence for completing this skill"></textarea>
                            <div class="sendButton">
                                <button id="submitButton" type="submit">Submit Evidence</button>
                            </div>
                        </form>
                        <pre id="response"></pre>
                    </div>

                    <script>
                        let persistentUserSkillId = "<%= userSkill ? userSkill._id : '' %>";
                        const skillId = '<%= skill._id %>';

                        document.getElementById('provideEvidenceForm').addEventListener('submit', function (event) {
                            event.preventDefault();
                            const evidence = document.getElementById('evidence').value;
                            const skillId = '<%= skill._id %>';

                            fetch('/skills/<%= skillTreeName %>/submit-evidence', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    evidence,
                                    skillId,
                                    userSkillId: persistentUserSkillId
                                })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    document.getElementById('response').textContent = 'Evidence submitted successfully!';
                                    if (!persistentUserSkillId) {
                                        persistentUserSkillId = data._id;
                                        console.log(persistentUserSkillId);
                                    }
                                });
                        });
                    </script>

                    <!-- Skill-ean erabilitako baliabideak -->
                    <div class="skillResources">
                        <h2>Resources</h2>
                        <ul>
                            <% skill.resources.forEach(function(resource) { %>
                                <li>
                                    <%= resource %>
                                </li>
                                <% }); %>
                        </ul>
                    </div>
                    <% if (session.user.admin || (userSkill && userSkill.completed)) { %>
                        <!-- Skill evidences -->
                        <div class="unverifiedEvidence">
                            <h2>Unverified Evidence Submissions</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Evidence</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (skillSubmissions.length == 0) { %>
                                        <tr>
                                            <td colspan="3">No unverified submissions.</td>
                                        </tr>
                                    <% } else { %>
                                    <% skillSubmissions.forEach(function(submission) { %>
                                        <% 
                                            const isAlreadyVerified = submission.verifications.some(verification => 
                                                verification.user.toString() === session.user._id.toString()
                                            );
                                            if (submission.user.username != session.user.username && !isAlreadyVerified) {
                                        %>
                                            <tr>
                                                <td>
                                                    <%= submission.user.username %>
                                                </td>
                                                <td>
                                                    <%= submission.evidence %>
                                                </td>
                                                <td class="actions">
                                                    <button class="approve-btn"
                                                        data-submission-id="<%= submission._id %>">Approve</button>
                                                    <button class="reject-btn"
                                                        data-submission-id="<%= submission._id %>">Reject</button>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% }); %>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>

                        <script>
                            document.querySelectorAll('.approve-btn').forEach(button => {
                                button.addEventListener('click', function () {
                                    const submissionId = this.dataset.submissionId;
                                    fetch('/skills/<%= skillTreeName %>/<%= skill.id %>/verify', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            userSkillId: submissionId,
                                            approved: true
                                        })
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            console.log(data);
                                            // Aquí podrías remover la fila de la tabla si la verificación fue exitosa
                                            this.closest('tr').remove();
                                        });
                                });
                            });

                            document.querySelectorAll('.reject-btn').forEach(button => {
                                button.addEventListener('click', function () {
                                    const submissionId = this.dataset.submissionId;
                                    fetch('/skills/<%= skillTreeName %>/<%= skill._id %>/verify', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            userSkillId: submissionId,
                                            approved: false
                                        })
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            console.log(data);
                                            // Aquí podrías remover la fila de la tabla si el rechazo fue exitoso
                                            this.closest('tr').remove();
                                        });
                                });
                            });
                        </script>
                        <% } %>
                </div>
            </div>
            <script src="/js/tasks.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
</body>

</html>